*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    color: rgba(7, 7, 88, 0.856);
    font-size: 100px;
}
h2{
    color: #064d11;

}
p {
    color: #464444cc;
}
button{
    color: rgb(136, 4, 107);
    background-color: #025157s;    
}
body{
    color: #e28629;
    background-image: ;
}
