h1{
    color: rgba(2, 2, 105, 0.856);
    font-size: 100px;
}
h2{
    color: #46484c;

}
p {
    color: #8b8b8bcc;
}
button{
    color: #fff;
    background-color: #025157s;    
}
body{
    color: #fffbf7;
}
